/* styling  main leftmenu */
.leftMenu{
    z-index: 1;
    width: 280px;
    height: 100%;
    min-height: 100vh;
    background: rgba(34, 34, 34, 0.6);
    backdrop-filter: blur(12px);
    padding: 20px 15px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.175,0.885,0.32,1.275);
}

.leftMenu .logoContainer {
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

/* setting logo size */

.leftMenu .logoContainer i {
    font-size: 28px;
}

.leftMenu .logoContainer i:nth-of-type(2) {
    font-size: 19px; 
}


.leftMenu .logoContainer i:nth-of-type(1) {
    font-size: 38px; 
}

.leftMenu .logoContainer h2{
    font-size: 27px;
}

/* editing searchbar */

.searchBox{
    width: 100%;
    height: 45px;
    position: relative;
    margin-top: 20px;
    color: #848484;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
}

.searchBox input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 45px;
    color: #f1f1f1;
    font-size: 14px;
    font-weight: bold;
}

/* editing search icon */

.searchBox .searchIcon{
    position: absolute;
    top: 0;
    left: 0;
    color: #848484;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;

}

/* for menu */
.MenuContainer{
    margin: 15px 0;
}

/* putting menu title and playlist togather so they use same style */

.MenuContainer .title {
    color: #848484;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.MenuContainer ul{
    width: 100%;
    padding: 0;
}

.MenuContainer ul li{
    list-style: none;
    margin: 5px 0;
    width: 100%;
    padding: 5px 0;
    position: relative;
}

.MenuContainer ul li a{
    text-decoration: none;
    color: #848484;
    display: flex;
    align-items: center;
    font-size: 16px;
}


/* editing icon in menu */

.MenuContainer ul li a i{
    font-size: 18px;
    margin-right: 15px;

}

/* for color mark when we hover on it  */

.MenuContainer ul li:before{
    position: absolute;
    content: "";
    top: 0;
    left: -15px;

    /* width is 0px because we want it when we hovering it */

    width: 0px;  
    height: 100%;
    background: #DC143C;
    border-radius: 5px;
}

.MenuContainer ul li:hover::before,
.MenuContainer ul li.active::before{
    width: 5px;
    transition: 0.3s;
}

.MenuContainer ul li:hover a,
.MenuContainer ul li.active a{
    color: #f1f1f1;
    transition: 0.3s;
    
}
/* editing menu playlist */
.playListContainer{
    cursor: pointer;
    margin: 15px 0;
}

.playListContainer .nameContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #848484;
    margin-bottom: 10px;
} 

.playListContainer .nameContainer p{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

.playListContainer .nameContainer i{
    cursor: pointer;
    color: #f1f1f1;
    
}
/* inside playlist */
.playListContainer .playListScroll{
    height: 140px;
    overflow-x: hidden;
    overflow: scroll;
    position: relative;
}

.playListContainer .playListScroll .playList{
    display: flex;
    color: #848484;
    align-items: center;
    margin: 15px 0;
}

.playListContainer .playListScroll .playList:hover{
    color: #f1f1f1;
    transition: 0.3s;
}

.playListContainer .playListScroll .playList i{
    font-size: 18px;

}
.playListContainer .playListScroll .playList .list{
    margin-right: 15px;
}

.playListContainer .playListScroll .playList .trash{
    margin-left: auto;
}
.playListContainer .playListScroll .playList p{
    font-size: 16px;
    text-overflow: ellipsis;

    /* ellipsis dont allow text overflow here.... [add dots] */

    overflow: hidden;
    display: inline;

}
.tracklist{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
}

.tracklist .top{
    display: flex;
    align-items: center;
}

/* track list */
.tracklist .top img{
    width: 50px !important;
}
.tracklist .top .trackName{
    margin-left: 15px;
    color: #f1f1f1;
    font-size: 14px;
}
.tracklist .top .trackName .trackspan{
    display: block; 
    font-size: 12px;
    color: #848484;
}
.tracklist .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    color: #848484;
}
.tracklist .bottom i{
    font-size: 18px;
}

.tracklist .bottom i :hover{
    color: #f1f1f1;
    transition: 0.3s;
    cursor: pointer;
}

.tracklist .bottom input{
    position: relative;
    height: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    appearance: none;
}
/*  for chrome and safari*/
.tracklist .bottom input::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #DC143C;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    z-index: 2;
    transition: width 250ms linear;
}

/* editing range pointer */

.tracklist .bottom input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 10px;
    height: 20px;
    border-radius: 10px;
    background: #f1f1f1;
    border: 2px solid #000;
    cursor: pointer;
    position: relative;
    margin: -2px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
    transition: all 250ms linear;

}

/* firefox */
.tracklist .bottom input::-moz-progress-bar{
    background: #DC143C;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    z-index: 2;
    transition: width 250ms linear;
}
.tracklist .bottom input::-moz-range-thumb{
    background: #DC143C;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    z-index: 2;
    transition: width 250ms linear;
}

@media screen and (max-width: 550px){
    .leftMenu{
        width: 64px;
        min-width: 64px;
    }

    .leftMenu .searchBox{
        display: none;
    }

    .leftMenu .tracklist{
        display: none;
    }

    .leftMenu .playListContainer{
        display: none;
    }

    .leftMenu .MenuContainer ul li a span{
        display: none;
    }

    .leftMenu .MenuContainer ul li a i{
        font-size: 26px;
    }

    .leftMenu .MenuContainer ul li {
        margin: 25px 0;
    }

    .leftMenu .logoContainer h2{
        margin-left: 20px;
    }
}